@use "../../styles/_variables" as vars;




.contentWrapper {
    padding: 20px 40px;
    width: 100%;
    background-color: vars.$content-background;

    h3 {
        color: vars.$heading-color;
        font-family: vars.$font-heading;
        font-size: vars.$font-xl;
        font-weight: 500;
    }
}