@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web:wght@400;900&display=swap');

//fonts 

$font-heading: 'Titillium Web', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-xs: 12px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 32px;
$font-xl: 64px;
$font-header: 128px;

//Palette

$white: #ffffff;
$content-background: #F9F9F9;
$heading-color: #D97852;
$black: #000000;
$blue: #002BC2;
$blue-dark: #2c3b6f;